/src/__history

/unittest/__history

/unittest/Win32/Debug

/samples/basicdemo/client/Win32/Debug
/samples/basicdemo/server/Win32/Debug

/dependencies/delphimvcframework/sources/__history/*.~1~
/dependencies/delphimvcframework/sources/__history
